


{% if customer %} {% assign digest = customer.id | append:customer.email | append:'de89605a-14e6-44e1-963c-2d2670b8136d' | md5 %} {% endif %}

<script type="text/javascript">
window.sloyalty = window.sloyalty || {};
window.sloyalty.shop = 'www.iguanasell.com';

window.sloyalty.customer_id = '{% if customer %}{{ customer.id }}{% endif %}';
window.sloyalty.digest = '{% if customer %}{{ digest }}{% endif %}';

</script>




  


{% if customer %}
{% assign digest = customer.id | append:customer.email | append:'de89605a-14e6-44e1-963c-2d2670b8136d' | md5 %}

<div class="sloyalty-loyalty-widget"
     data-digest="{{ digest }}"
     data-shop="www.iguanasell.com"
     data-version="2"
     data-widget-css="bottom:0px;left:20px;"
     data-overlay-css=""
     data-customer="{{ customer.id }}"></div>
{% else %}
<div class="sloyalty-loyalty-widget"
     data-shop="www.iguanasell.com"
     data-version="2"
     data-widget-css="bottom:0px;left:20px;"
     data-overlay-css=""></div>
{% endif %}





<div class="sloyalty-referral-widget"
     data-shop="www.iguanasell.com"
     data-customer="{% if customer %}{{ customer.id }}{% endif %}"></div>






{% if customer %}
{% assign digest = customer.id | append:customer.email | append:'de89605a-14e6-44e1-963c-2d2670b8136d' | md5 %}

<div class="sloyalty-standalone-share-widget"
     data-shop="www.iguanasell.com"
     data-customer="{{ customer.id }}"
     data-digest="{{ digest }}"></div>
{% else %}
<div class="sloyalty-standalone-share-widget"
     data-shop="www.iguanasell.com"
     data-customer=""></div>
{% endif %}






<div class="sloyalty-fans-widget"
     data-shop="www.iguanasell.com"
     data-customer="{% if customer %}{{ customer.id }}{% endif %}"></div>


